.uni-padding{
    padding: 0 10%;
}
.btn-primary{
    background-color:  #1ea8df;
}
.banner-content{
    padding:  30% 0;
}
.banner-head{
    font-size: 60px;
    font-weight: 800;
}
.nav-link:hover{
    color: #1ea8df ;
}
.discount{
    background-color: #fff;
    border-radius: 50%;
    width: 10%;
    padding: 25px;
    position: absolute;
    top: 25%;
    left: 75%;
    text-align: center;
}
.discount h1{
    color: red;
}
@media only screen and (max-width:812px){
    .banner-content{
        text-align: center;
        padding: 20% 0;
    }
    .banner-head {
        font-size: 41px;
        font-weight: 700;
    }
    .discount {
        width: 25%;
        padding: 20px;
        top: 50%;
        left: 60%;
    }
    /* .uni-padding{
        padding: 0 0%;
    } */
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px){
    .banner-content {
        text-align: center;
        padding: 10% 0;
    }
    .banner-head {
        font-size: 40px;
        font-weight: 700;
    }
    .discount {
        /* padding: 20px;
        top: 40%; */
        display: none;
    }
}
/* banner end  */

.feature p,.product p{
    font-weight: 800;
}
.feature i,.product i{
    float: right;
    color: #17a2b8;
    font-size: 25px;
}
.owl-next, .owl-prev{
    background-color: #1ea8df !important;
    color: #fff !important;
    border-radius: 50%;
    width: 30px;
    height: 35px;
    margin: 10px;
    float: right;
    /* position: absolute;
    left: 85%; */
}
.feature h1, .product h1{
    font-weight: 800;
}
.card:hover{
    /* box-shadow: 0 0 20px rgba(104, 97, 97, 0.2); */
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
/* our feature end  */
/* .client-details{
    display: inline-block;
    margin-left: 150px;
    margin-bottom: 10px;
 } */
 .client-details {
    position: absolute;
    left: 22%;
    bottom: 10%;
 }
 .client-img{
    margin-left: 5%;
    margin-bottom: 6%;
 }
 .testimonials p{
    text-align: justify;
 }
 @media only screen and (max-width:812px){
    .client-details {
        left: 36%;
        bottom: 6%;
    }
 }
/* .testimonials end  */
.footer-data p{
    font-size: 13px;
    font-weight: 500;
    text-align: justify;
}
.footer-data a{
    text-decoration: none;
    color: #000;
}
.footer-data li{
    line-height: 1.9;
    font-size: 14px;
}
.footer-data input{
    width: 50%;
}
.footer-data{
    margin-top: 20px;
}
.footer-data li a:hover, .social-icons i:hover{
    color: #1ea8df;
}
.social-icons i{
    font-size: 20px;
}
